body{
    background: #24353f;
    font-family: 'Titillium Web', sans-serif;
 
}
.details{
    box-shadow: 0px 2px 25px #000 !important;
}
.smartLog ,#WelcomeMessage{
    color: #17a2b8;
}
.signUp:hover{
text-decoration: underline !important;
 }

 ::placeholder{
     color: white !important;
     opacity: 0.7 !important; 

 }
 input{
     color: white!important;
 }
 #welcomeMessage{
     font-size: 50px;
     color: #17a2b8;
 }

 #passwordDetails ,#userNameDetails{
     color: #7f7f7f;
     display: none;
 }